<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
</head>
<body>
<div class="loginContainer">
    <form th:action="@{/login}" method="post">
        <div>
            <label><p>Login</p>
                <input type="text" name="username" placeholder="login" required>
            </label>
        </div>
        <div>
            <label><p>Hasło</p>
                <input type="password" name="password" placeholder="hasło" required>
            </label>
        </div>
        <div th:if="${loginFailed}">
            <p th:class="error">Wprowadzono błędny login lub hasło</p>
        </div>
        <div>
            <input type="submit" value="Zaloguj">
        </div>
        <div>
            <p>Nie masz konta, <a th:href="@{/register}">zarejestruj się</a>.</p>
        </div>
    </form>
</div>
</body>
</html>