<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Generator haseł</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script th:src="@{/scripts/app.js}"></script>
  <link th:href="@{/styles/style.css}" rel="stylesheet">
  <link th:href="@{/styles/materialize.css}" rel="stylesheet">
  <script th:src="@{/scripts/materialize.js}"></script>
  <script th:src="@{/scripts/generator.js}"></script>

</head>
<body class="blue-grey darken-3 white-text generator">
  <!-- menu -->
  <nav class="blue darken-4 mb0"><!--todo: update link href-->
    <div class="nav-wrapper">
      <a class="brand-logo m0" th:href="${'/'}" th:text="${'Password Manager'}"></a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul id="desktop-menu" class="right hide-on-med-and-down">
        <li><a th:href="${'/login'}"><i class="material-icons left">input</i>Zaloguj</a>
        </li>
      </ul>
    </div>
    <ul class="sidenav blue darken-4" id="mobile-menu">
      <li class=""><a th:href="${'/login'}" class="white-text"><i class="material-icons left white-text">input</i>Zaloguj</a></li>
    </ul>
  </nav>
  <div id="main">
    <div class="formContainer wide" >
      <h3 class="center my12">Wygeneruj hasło</h3>
      <div id="generator">
        <div class="center my12">
          <p id="generatedPassword">&nbsp;</p>
        </div>

        <div class="center">
          <p class="waves-effect waves-light btn" id="copyPass" onclick="copyPass();"><i class="material-icons right">get_app</i>Kopiuj</p>
          <p class="waves-effect waves-light btn" onclick="generatePass();"><i class="material-icons right">cached</i>Wygeneruj nowe</p>
        </div>

        <div>
          <p class="range-field">
            Długość hasła
            <input type="range" id="genLength" min="4" max="50"  value="12" step="1"  oninput="generatePass();" onchange="generatePass();"/>
          </p>
        </div>

        <!--todo: password generator numbers/letters/special-->
        <div class="my12">
          <label class="blue-text">
            <i class="material-icons Small">looks_one</i>
            <input type="checkbox" class="filled-in" id="nums" checked onclick="generatePass();"/>
            <span>Liczby</span>
          </label>
        </div>
        <div class="my12">
          <label class="green-text">
            <i class="material-icons">sort_by_alpha</i>
            <input type="checkbox" class="filled-in" id="letters" checked onclick="generatePass();"/>
            <span>Litery</span>
          </label>
        </div>
        <div class="my12">
          <label class="red-text">
            <i class="material-icons">attach_money</i>
            <input type="checkbox" class="filled-in" id="special" checked onclick="generatePass();"/>
            <span>Znaki specjalne</span>
          </label>
        </div>
      </div>
    </div>
  </div>
<script>
  generatePass();
</script>
</body>
</html>